.nav {
    height: 50px;
    background-color: white;
}

.navbold {
    font-weight: bold;
}

.thumbnail {
    width: 25px;
    border-radius: 50px;
}

.login {
    border: 1px solid #ffcd61 !important;
    padding: 7px 40px !important;
    margin-left: 20px;
}

.register {
    padding: 7px 30.4px !important;
    margin-left: 20px;
}

.navmain {
    margin: 7px 35px;
}

.navmain a {
    padding: 15px;
    color: rgb(27, 27, 27);
}
